data/flows.json
[{"id":"62b01ed47a4228a8","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"7b2e25ec9b2c4d1b","type":"debug","z":"62b01ed47a4228a8","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":393.9999952316284,"wires":[]},{"id":"14f2b233c06c0310","type":"inject","z":"62b01ed47a4228a8","name":"list devices","props":[{"p":"method","v":"devices","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":393.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"0a5f82da65647426","type":"iothub-registry","z":"62b01ed47a4228a8","name":"","connectionstring":"HostName=floodnet-iot-hub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=0YTsriMEit/KpBeFWkrhCF0DVhbjcAcxHAIoTPNRTvA=","connectionstringType":"cred","x":380,"y":393.9999952316284,"wires":[["7b2e25ec9b2c4d1b"]]},{"id":"fce13b474934cfe9","type":"inject","z":"62b01ed47a4228a8","name":"create device","props":[{"p":"deviceId","v":"fakeee-00001","vt":"str"},{"p":"method","v":"device.create","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":433.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"4aef9f762058c1cf","type":"inject","z":"62b01ed47a4228a8","name":"delete device","props":[{"p":"deviceId","v":"fakeee-00001","vt":"str"},{"p":"method","v":"device.delete","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":593.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"8c103250d61c7c79","type":"inject","z":"62b01ed47a4228a8","name":"get device","props":[{"p":"deviceId","v":"fakeee-00001","vt":"str"},{"p":"method","v":"device","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":473.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"855df731fb88b2d2","type":"inject","z":"62b01ed47a4228a8","name":"get twin","props":[{"p":"method","v":"twin","vt":"str"},{"p":"deviceId","v":"fakeee-00001","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":513.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"fdb982c518c7e549","type":"inject","z":"62b01ed47a4228a8","name":"update twin","props":[{"p":"method","v":"twin.update","vt":"str"},{"p":"deviceId","v":"fakeee-00001","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"tags\": {\"test\": \"ahhh\"}}","payloadType":"json","x":130,"y":553.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"e29eeb64d0476e5f","type":"iothub-send","z":"62b01ed47a4228a8","name":"","connectionstring":"IOTHUB_CONNECTION_STRING","connectionstringType":"env","x":581.0000095367432,"y":519.0000228881836,"wires":[["fc5894adad4fdacc"],[]]},{"id":"d0e2709c2813882b","type":"inject","z":"62b01ed47a4228a8","name":"","props":[{"p":"deviceId","v":"fakeee-00001","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hello\": \"my lil baby\"}","payloadType":"json","x":411.00000953674316,"y":519.0000228881836,"wires":[["e29eeb64d0476e5f"]]},{"id":"fc5894adad4fdacc","type":"debug","z":"62b01ed47a4228a8","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":761.0000095367432,"y":519.0000228881836,"wires":[]},{"id":"4f5896915c56905d","type":"inject","z":"62b01ed47a4228a8","name":"get statistics","props":[{"p":"method","v":"statistics","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":680,"wires":[["0a5f82da65647426"]]},{"id":"7581b640e83989d4","type":"inject","z":"62b01ed47a4228a8","name":"list configs","props":[{"p":"method","v":"configs","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":720,"wires":[["0a5f82da65647426"]]},{"id":"4ff2b7ca6b813165","type":"inject","z":"62b01ed47a4228a8","name":"list jobs","props":[{"p":"method","v":"jobs","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":760,"wires":[["0a5f82da65647426"]]},{"id":"9481a2b9133933d2","type":"inject","z":"62b01ed47a4228a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":920,"wires":[["1625ec3cfe174018"]]},{"id":"1625ec3cfe174018","type":"function","z":"62b01ed47a4228a8","name":"function 2","func":"\nreturn global.keys();","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":980,"wires":[["949ac5337d649aa8"]]},{"id":"949ac5337d649aa8","type":"debug","z":"62b01ed47a4228a8","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":1000,"wires":[]},{"id":"7b4ce10807dc9ff6","type":"change","z":"62b01ed47a4228a8","name":"","rules":[{"t":"set","p":"payload.0","pt":"msg","to":"checkpoint_azure-iothub_iothub-ns-floodnet-i-25312270-bf37be24bd-servicebus-windows-net_floodnet-iot-hub_test.0.offset","tot":"global"},{"t":"set","p":"payload.1","pt":"msg","to":"checkpoint_azure-iothub_iothub-ns-floodnet-i-25312270-bf37be24bd-servicebus-windows-net_floodnet-iot-hub_test.1.offset","tot":"global"},{"t":"set","p":"payload.2","pt":"msg","to":"checkpoint_azure-iothub_iothub-ns-floodnet-i-25312270-bf37be24bd-servicebus-windows-net_floodnet-iot-hub_test.2.offset","tot":"global"},{"t":"set","p":"payload.3","pt":"msg","to":"checkpoint_azure-iothub_iothub-ns-floodnet-i-25312270-bf37be24bd-servicebus-windows-net_floodnet-iot-hub_test.3.offset","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":920,"wires":[["0ca129df2baab10a"]]},{"id":"87181e4240409bb1","type":"inject","z":"62b01ed47a4228a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":610,"y":920,"wires":[["7b4ce10807dc9ff6"]]},{"id":"0ca129df2baab10a","type":"debug","z":"62b01ed47a4228a8","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":920,"wires":[]},{"id":"1f70031c891cef22","type":"eventhub-recv","z":"62b01ed47a4228a8","name":"","connectionstring":"Endpoint=sb://iothub-ns-floodnet-i-25312270-bf37be24bd.servicebus.windows.net/;SharedAccessKeyName=iothubowner;SharedAccessKey=0YTsriMEit/KpBeFWkrhCF0DVhbjcAcxHAIoTPNRTvA=;EntityPath=floodnet-iot-hub","consumergroup":"test","connectionstringType":"cred","consumergroupType":"str","x":140,"y":180,"wires":[["f8f7c1228490b6d1","96081b5b799a964f"],["05c2baf88b81256b","1954e73d7c2f4c6a"],["23ceeded2a17050f","1954e73d7c2f4c6a"],["e8e8a1ad3d8b9b69","1954e73d7c2f4c6a"]]},{"id":"f8f7c1228490b6d1","type":"debug","z":"62b01ed47a4228a8","name":"msg","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"systemProperties[\"iothub-connection-device-id\"]","statusType":"msg","x":350,"y":140,"wires":[]},{"id":"96081b5b799a964f","type":"file","z":"62b01ed47a4228a8","name":"","filename":"/data/testdata.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":390,"y":100,"wires":[[]]},{"id":"05c2baf88b81256b","type":"debug","z":"62b01ed47a4228a8","name":"err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":200,"wires":[]},{"id":"1954e73d7c2f4c6a","type":"function","z":"62b01ed47a4228a8","name":"function 1","func":"\nreturn {\n    payload: {\n        timestamp: Date.now(),\n        ...msg,\n    }\n};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":379,"y":322.00000381469727,"wires":[["3416f2562b9146fb"]]},{"id":"23ceeded2a17050f","type":"debug","z":"62b01ed47a4228a8","name":"connect","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"processTimeUtc","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":240,"wires":[]},{"id":"e8e8a1ad3d8b9b69","type":"debug","z":"62b01ed47a4228a8","name":"close","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"processTimeUtc","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":280,"wires":[]},{"id":"3416f2562b9146fb","type":"file","z":"62b01ed47a4228a8","name":"","filename":"/data/errors.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":559,"y":322.00000381469727,"wires":[[]]},{"id":"e16ae2498cc49521","type":"http in","z":"62b01ed47a4228a8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":460,"y":680,"wires":[["df2e0695d9cfb903"]]},{"id":"7fb5ef2b10aa2bb9","type":"iothub-registry","z":"62b01ed47a4228a8","name":"","connectionstring":"HostName=floodnet-iot-hub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=0YTsriMEit/KpBeFWkrhCF0DVhbjcAcxHAIoTPNRTvA=","connectionstringType":"cred","x":820,"y":680,"wires":[["f64c9c9668340350"]]},{"id":"f64c9c9668340350","type":"http response","z":"62b01ed47a4228a8","name":"","statusCode":"","headers":{},"x":1010,"y":680,"wires":[]},{"id":"df2e0695d9cfb903","type":"change","z":"62b01ed47a4228a8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"devices","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":680,"wires":[["7fb5ef2b10aa2bb9"]]},{"id":"ec4e3102a1015744","type":"http request","z":"62b01ed47a4228a8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"/test","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1030,"y":380,"wires":[["bb83bb0d117430d0"]]},{"id":"55adf499a2858c3b","type":"inject","z":"62b01ed47a4228a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":860,"y":380,"wires":[["ec4e3102a1015744"]]},{"id":"bb83bb0d117430d0","type":"debug","z":"62b01ed47a4228a8","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":380,"wires":[]}]