data/flows.json
[{"id":"62b01ed47a4228a8","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"96081b5b799a964f","type":"file","z":"62b01ed47a4228a8","name":"","filename":"/data/testdata.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":411,"y":57.999996185302734,"wires":[[]]},{"id":"f8f7c1228490b6d1","type":"debug","z":"62b01ed47a4228a8","name":"msg","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"systemProperties[\"iothub-connection-device-id\"]","statusType":"msg","x":371,"y":97.99999618530273,"wires":[]},{"id":"05c2baf88b81256b","type":"debug","z":"62b01ed47a4228a8","name":"err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":371,"y":157.99999618530273,"wires":[]},{"id":"e8e8a1ad3d8b9b69","type":"debug","z":"62b01ed47a4228a8","name":"close","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"processTimeUtc","targetType":"msg","statusVal":"","statusType":"auto","x":371,"y":237.99999618530273,"wires":[]},{"id":"23ceeded2a17050f","type":"debug","z":"62b01ed47a4228a8","name":"connect","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"processTimeUtc","targetType":"msg","statusVal":"","statusType":"auto","x":381,"y":197.99999618530273,"wires":[]},{"id":"1f70031c891cef22","type":"eventhub-recv","z":"62b01ed47a4228a8","name":"","connectionstring":"EVENTHUB_CONNECTION_STRING","consumergroup":"test","connectionstringType":"env","consumergroupType":"str","x":161,"y":257.99999618530273,"wires":[["f8f7c1228490b6d1","96081b5b799a964f"],["05c2baf88b81256b","3416f2562b9146fb"],["23ceeded2a17050f"],["e8e8a1ad3d8b9b69","3416f2562b9146fb"]]},{"id":"7b2e25ec9b2c4d1b","type":"debug","z":"62b01ed47a4228a8","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":393.9999952316284,"wires":[]},{"id":"14f2b233c06c0310","type":"inject","z":"62b01ed47a4228a8","name":"list devices","props":[{"p":"method","v":"device","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":393.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"0a5f82da65647426","type":"iothub-devices","z":"62b01ed47a4228a8","name":"","connectionstring":"IOTHUB_CONNECTION_STRING","connectionstringType":"env","x":380,"y":393.9999952316284,"wires":[["7b2e25ec9b2c4d1b"]]},{"id":"fce13b474934cfe9","type":"inject","z":"62b01ed47a4228a8","name":"create device","props":[{"p":"deviceId","v":"fakeee-00001","vt":"str"},{"p":"method","v":"device.create","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":433.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"4aef9f762058c1cf","type":"inject","z":"62b01ed47a4228a8","name":"delete device","props":[{"p":"deviceId","v":"fakeee-00001","vt":"str"},{"p":"method","v":"device.delete","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":593.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"8c103250d61c7c79","type":"inject","z":"62b01ed47a4228a8","name":"get device","props":[{"p":"deviceId","v":"fakeee-00001","vt":"str"},{"p":"method","v":"device","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":473.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"855df731fb88b2d2","type":"inject","z":"62b01ed47a4228a8","name":"get twin","props":[{"p":"method","v":"twin","vt":"str"},{"p":"deviceId","v":"fakeee-00001","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":513.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"fdb982c518c7e549","type":"inject","z":"62b01ed47a4228a8","name":"update twin","props":[{"p":"method","v":"twin.update","vt":"str"},{"p":"deviceId","v":"fakeee-00001","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"tags\": {\"test\": \"ahhh\"}}","payloadType":"json","x":130,"y":553.9999952316284,"wires":[["0a5f82da65647426"]]},{"id":"e29eeb64d0476e5f","type":"iothub-send","z":"62b01ed47a4228a8","name":"","connectionstring":"IOTHUB_CONNECTION_STRING","connectionstringType":"env","x":581.0000095367432,"y":519.0000228881836,"wires":[["fc5894adad4fdacc"]]},{"id":"d0e2709c2813882b","type":"inject","z":"62b01ed47a4228a8","name":"","props":[{"p":"deviceId","v":"fakeee-00001","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hello\": \"my lil baby\"}","payloadType":"json","x":411.00000953674316,"y":519.0000228881836,"wires":[["e29eeb64d0476e5f"]]},{"id":"fc5894adad4fdacc","type":"debug","z":"62b01ed47a4228a8","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":761.0000095367432,"y":519.0000228881836,"wires":[]},{"id":"3416f2562b9146fb","type":"file","z":"62b01ed47a4228a8","name":"","filename":"/data/errors.txt","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":401,"y":277.99999618530273,"wires":[[]]}]